<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063500367543-b1s07r1cn24sqogp22leqq379ih068av.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063500367543-b1s07r1cn24sqogp22leqq379ih068av</string>
	<key>API_KEY</key>
	<string>AIzaSyBqe0qFkS_nq0OyNrYynda4IxJEG4-8Tjc</string>
	<key>GCM_SENDER_ID</key>
	<string>1063500367543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.edu.ukma.litvinchuk.CatsAndModules-DanyloLitvinchuk</string>
	<key>PROJECT_ID</key>
	<string>catviewer-490a7</string>
	<key>STORAGE_BUCKET</key>
	<string>catviewer-490a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063500367543:ios:dd5d35a281d9a01bb2af32</string>
</dict>
</plist>